* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* Header */

header {
  width: calc(100% - 16px);
  background-color: #1758d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  height: 70px;
}

header a {
  text-decoration: none;
}

header a h2 {
  color: #fff;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav button {
  background: none;
  border: none;
  cursor: pointer;
}

header nav button img {
  height: 40px;
}

main {
  min-height: 100vh;
}

/* Hero section*/

main .hero {
  height: calc(100vh - 70px);
  background-image: url("https://lukasknize.github.io/uni-project-medical-web/images/vitaly-gariev-EiL21cqvo58-unsplash.jpg");
  background-size: cover;
  position: relative;
}

main .hero .heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1758d045;
  width: 100%;
  height: 100%;
}

main .hero .heroHeadline {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100%;
  text-align: center;
  color: #fff;
}

main .hero img {
  position: absolute;
  top: 90%;
  left: calc(50% - 20px);
  height: 40px;
  animation: arrowAnimation 3s ease-in-out infinite;
  cursor: pointer;
}

@keyframes arrowAnimation {
  0% {
    top: 90%;
  }

  50% {
    top: 88%;
  }

  100% {
    top: 90%;
  }
}

.aboutUs,
.services,
.news {
  background-color: #eaeef4;
  width: 100%;
  padding-top: 16px;
  height: auto;
}

.headlineBox {
  width: 200px;
  height: 80px;
  background-color: #c9d3e6;
  color: #1758d0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-left: 16px;
}

.aboutUs p,
.services p {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  text-align: justify;
}

.aboutUs img,
.services img {
  width: 100%;
}

/* button centering */
.news {
  text-align: center;
}

.newsPaperIcon {
  width: 60px;
  height: 60px;
  background-color: #b3bccc;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 16px;
}

.news article {
  background-color: #c9d3e6;
  width: 90%;
  display: flex;
  margin-top: 16px;
  min-height: 100px;
  border-radius: 10px;
}

.news article a {
  margin-top: 16px;
  margin-left: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  text-decoration: none;
  color: #000;
}

.news .newsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  text-align: left;
}

.news button {
  width: 200px;
  height: 60px;
  background-color: #c9d3e6;
  color: #1758d0;
  border-radius: 10px;
  margin-top: 16px;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 16px;
}

.news button:hover {
  background-color: #b3bccc;
}

.reservations {
  margin-top: 16px;
  background-color: #eaeef4;
  width: calc(90% - 16px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.reservations .reserveRow {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}

.reservations .reserveRow img {
  height: 40px;
}

.reservations .reserveRow a {
  color: #000;
  margin-left: 8px;
}

.reservations button {
  width: 200px;
  height: 60px;
  background-color: #c9d3e6;
  color: #1758d0;
  border-radius: 10px;
  margin-top: 16px;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
}

.reservations button:hover {
  background-color: #b3bccc;
}

.reservations .reservationsImage {
  display: none;
}

footer {
  margin-top: 16px;
  background-color: #040f39;
  color: #fff;
  padding: 16px;
}

footer .linkSection {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  text-align: center;
}

footer .linkSection a {
  color: #fff;
}

footer .socialSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

footer .socialSection img {
  height: 40px;
}

#mobileMenu {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 8px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mobileMenu .mobileSearch {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

#mobileMenu .mobileSearch input {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #e3e3e3;
  margin-right: 6px;
}

#mobileMenu .mobileSearch input:active {
  border: 1px solid #e3e3e3;
}

#mobileMenu .mobileSearch input:focus-visible {
  outline: none;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 0 4px #1758d082;
}

#mobileMenu .mobileSearch button {
  background-color: #c9d3e6;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

#mobileMenu .mobileSearch button:hover {
  background-color: #b3bccc;
}

#mobileMenu .mobileSearch button img {
  height: 20px;
}

.pcSearch {
  display: none;
  justify-content: center;
  margin-bottom: 16px;
}

.pcSearch input {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #e3e3e3;
  margin-right: 6px;
}

.pcSearch input:active {
  border: 1px solid #e3e3e3;
}

.pcSearch input:focus-visible {
  outline: none;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 0 4px #1758d082;
}

.pcSearch button {
  background-color: #c9d3e6;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.pcSearch button:hover {
  background-color: #b3bccc;
}

.pcSearch button img {
  height: 20px;
}

.divider {
  width: 90%;
  border-bottom: 1px solid #e3e3e3;
}

#mobileMenu a {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #1758d0;
}

.largeNav {
  display: none;
}

@media (min-width: 950px) {
  header {
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    height: auto;
  }

  header a {
    grid-column: 2;
    text-align: center;
    width: auto;
  }

  .pcSearch {
    grid-column: 3;
    justify-self: end;
    margin-bottom: 0;
    display: flex;
  }

  header nav {
    grid-column: 1 / -1;
  }

  header nav button {
    display: none;
  }

  .largeNav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1100px;
  }

  .largeNav a {
    color: #fff;
    text-decoration: none;
  }

  main .hero {
    height: calc(100vh - 100px);
  }

  footer .footerContent {
    display: flex;
    justify-content: space-between;
  }

  .aboutUs {
    margin-top: 32px;
    display: flex;
    width: 95%;
    padding-top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .aboutUs .contentBox {
    width: 50%;
  }

  .aboutUs .contentBox .headlineBox {
    margin-top: 16px;
  }

  .aboutUs img {
    height: 100%;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .services {
    margin-top: 32px;
    display: flex;
    width: 95%;
    padding-top: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 32px;
    display: flex;
    width: 95%;
    padding-top: 0;
    margin-left: auto;
    margin-bottom: 32px;
  }

  .services .contentBox {
    width: 50%;
    order: 2;
  }

  .services .contentBox .headlineBox {
    margin-top: 16px;
  }

  .services img {
    order: 1;
    height: 100%;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .reservations {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .reservations .contentBox {
    width: 65%;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .reservations .reservationsImage {
    width: 35%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
  }

  .newsPaperIcon {
    width: 60px;
    height: 60px;
    background-color: #b3bccc;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .news article {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: unset;
    border-radius: 10px;
  }

  .news article p {
    padding: 0;
    margin-top: 0;
  }
}

/* ---------------------------------------------------------------------- */
/* Reservation Page                                                       */
/* ---------------------------------------------------------------------- */

.reservationsMain {
  margin-top: 16px;
  text-align: center;
}

.reservationsMain form .headlineBox {
  text-align: left;
  margin-left: 0;
  margin-bottom: 16px;
}

.calendar {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  width: 95%;
  max-width: 1000px;
}

.calendar .calendarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.calendar .calendarHeader button {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
}

.calendar .calendarHeader button img {
  height: 26px;
}

.calendar #calendarBody {
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
}

.calendar #calendarBody .calendarItem {
  cursor: pointer;
  border: 1px #e3e3e3 solid;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar #calendarBody .calendarItem p {
  user-select: none;
}

form {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  width: 95%;
  max-width: 1000px;
  margin-bottom: 16px;
}

form .dropDownInput {
  border: 1px #e3e3e3 solid;
  height: 30px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

form .dropDownInput button {
  background: none;
  border: none;
  cursor: pointer;
}

form .dropDownInput button img {
  height: 20px;
}

form .dropDownInput #dropDownList {
  position: absolute;
  top: 48px;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  filter: drop-shadow(0 0 2px #e3e3e3);
  margin-top: 16px;
}

form .dropDownInput #dropDownList button {
  text-align: left;
  padding: 16px;
}

form .dropDownInput #dropDownList button:hover {
  background-color: #e3e3e377;
}

form .formRow input {
  border: 1px #e3e3e3 solid;
  height: 30px;
  padding: 8px;
  width: calc(100% - 16px);
  margin-top: 16px;
}

form textarea {
  border: 1px #e3e3e3 solid;
  padding: 8px;
  width: calc(100% - 16px);
  margin-top: 16px;
  resize: none;
}

.reservationsMain .submitButton {
  width: 200px;
  height: 60px;
  background-color: #c9d3e6;
  color: #1758d0;
  border-radius: 10px;
  margin-top: 16px;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.reservationsMain button:hover {
  background-color: #b3bccc;
}

#timePickerDialog {
  background-color: #fff;
  filter: drop-shadow(0 0 2px #e3e3e3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
  width: 90%;
  max-width: 546px;
}

#timePickerDialog .timePickerItem {
  height: 30px;
  padding: 16px;
  display: flex;
  align-items: center;
}

#timePickerDialog .timePickerItem:hover {
  background-color: #e3e3e377;
}

#timePickerDialog .timePickerItem .checkBox {
  height: 10px;
  width: 10px;
  margin-right: 16px;
  border: #b3bccc 1px solid;
  cursor: pointer;
  display: flex;
}

#timePickerDialog .timePickerItem .checkBox img {
  height: 10px;
}

@media (min-width: 950px) {
  form .formRow {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  form .formRow input {
    width: 40%;
    margin-top: 0;
  }
}

/* ---------------------------------------------------------------------- */
/* Doctors Page                                                           */
/* ---------------------------------------------------------------------- */

main .heroDoctors {
  background-image: url("https://lukasknize.github.io/uni-project-medical-web/images/docHero.png");
  background-position: center top;
}

.doctorSection {
  background-color: #eaeef4;
  width: 100%;
  padding-top: 16px;
  height: auto;
}

.doctorSection p {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  text-align: justify;
}

.doctorSection h3 {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.doctorSection img {
  width: 100%;
  max-height: 500px;
}

.doctorSection .contentBox button {
  width: 200px;
  height: 60px;
  background-color: #c9d3e6;
  color: #1758d0;
  border-radius: 10px;
  margin-top: 16px;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 16px;
}

.doctorSection .contentBox button:hover {
  background-color: #b3bccc;
}

@media (min-width: 950px) {
  .doctorSection {
    margin-top: 32px;
    display: flex;
    width: 95%;
    padding-top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .doctorSection .contentBox {
    width: 50%;
  }

  .doctorSection .contentBox .headlineBox {
    margin-top: 16px;
  }

  .doctorSection img {
    height: 100%;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .doctorSection:nth-child(odd) {
    margin-top: 32px;
    display: flex;
    width: 95%;
    padding-top: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 32px;
    display: flex;
    width: 95%;
    padding-top: 0;
    margin-left: auto;
    margin-bottom: 32px;
  }

  .doctorSection:nth-child(odd) .contentBox {
    width: 50%;
    order: 2;
  }

  .doctorSection:nth-child(odd) .contentBox .headlineBox {
    margin-top: 16px;
  }

  .doctorSection:nth-child(odd) img {
    order: 1;
    height: 100%;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* ---------------------------------------------------------------------- */
/* Search Page                                                            */
/* ---------------------------------------------------------------------- */

.searchResultsPage .searchSection {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.searchResultsPage .searchSection input {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #e3e3e3;
  margin-right: 6px;
  width: calc(85% - 45px);
}

.searchResultsPage .searchSection input:active {
  border: 1px solid #e3e3e3;
}

.searchResultsPage .searchSection input:focus-visible {
  outline: none;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 0 4px #1758d082;
}

.searchResultsPage .searchSection button {
  background-color: #c9d3e6;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
}

.searchResultsPage .searchSection button:hover {
  background-color: #b3bccc;
}

.searchResultsPage .searchSection button img {
  height: 20px;
}

.results {
  padding: 16px;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
}

.results .searhResult {
  margin-bottom: 32px;
}

.results .searhResult a {
  color: #1758d0;
}

.results .searhResult p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* ---------------------------------------------------------------------- */
/* Articles Page                                                          */
/* ---------------------------------------------------------------------- */

.articles {
  padding: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.articles article {
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.articles article h1,
.articles article p {
  margin-bottom: 16px;
}

.articles img {
  width: 100%;
}

.newsPage .news article:last-child {
  margin-bottom: 16px;
}

@media (min-width: 950px) {
  .articles {
    display: flex;
  }

  .articles article {
    width: 50%;
  }

  .articles img {
    width: 50%;
    height: fit-content;
  }
}

.breadCrumbs {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 30px;
}

.breadCrumbs a {
  color: #000;
  text-decoration: none;
}

.breadCrumbs a img {
  height: 25px;
}

.breadCrumbs .breadCrumbArrow {
  transform: rotate(90deg);
  height: 25px;
}

/* ---------------------------------------------------------------------- */
/* Doctor Page                                                            */
/* ---------------------------------------------------------------------- */

.doctor {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 16px;
}

.doctor section {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.doctor img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.doctor section a,
.doctor section p,
.doctor section h1 {
  padding-bottom: 8px;
}

@media (min-width: 950px) {
  .doctor {
    flex-direction: row;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .doctor img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }

  .doctor section {
    text-align: left;
    align-items: start;
  }
}

/* ---------------------------------------------------------------------- */
/* Doctor Page                                                            */
/* ---------------------------------------------------------------------- */

.contact .contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h1,
.contact .contactSection h2 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.contact .contactSection .container {
  background: #eaeef4;
  width: calc(90% - 16px);
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact .contactSection .departments div {
  margin-bottom: 15px;
}
.contact .contactSection .departments strong {
  display: block;
  font-size: 1.1rem;
}

.contact .contactSection iframe {
  width: 100%;
  height: 250px;
  border: 0;
  border-radius: 10px;
}

@media (min-width: 950px) {
  .contact .contactSection iframe {
    height: 350px;
  }

  .contact .contactSection {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact .contactSection .container:not(:has(iframe)) {
    width: calc(50% - 48px);
  }

  .contact .contactSection .container:has(iframe) {
    width: calc(100% - 48px);
  }

  .contact .reservations {
    max-width: 972px;
  }
}
