* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* Header */

header {
  width: calc(100% - 16px);
  background-color: #1758d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  height: 70px;
}

header h2 {
  color: #fff;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav button {
  background: none;
  border: none;
  cursor: pointer;
}

header nav button img {
  height: 40px;
}

/* Hero section*/

main .hero {
  height: calc(100vh - 70px);
  background-image: url("/images/vitaly-gariev-EiL21cqvo58-unsplash.jpg");
  background-size: cover;
  position: relative;
}

main .hero .heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1758d045;
  width: 100%;
  height: 100%;
}

main .hero .heroHeadline {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100%;
  text-align: center;
  color: #fff;
}

main .hero img {
  position: absolute;
  top: 90%;
  left: calc(50% - 20px);
  height: 40px;
  animation: arrowAnimation 3s ease-in-out infinite;
  cursor: pointer;
}

@keyframes arrowAnimation {
  0% {
    top: 90%;
  }

  50% {
    top: 88%;
  }

  100% {
    top: 90%;
  }
}

.aboutUs,
.services,
.news {
  background-color: #eaeef4;
  width: 100%;
  padding-top: 16px;
  height: auto;
}

.headlineBox {
  width: 200px;
  height: 80px;
  background-color: #c9d3e6;
  color: #1758d0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-left: 16px;
}

.aboutUs p,
.services p {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  text-align: justify;
}

.aboutUs img,
.services img {
  width: 100%;
}

/* button centering */
.news {
  text-align: center;
}

.newsPaperIcon {
  width: 60px;
  height: 60px;
  background-color: #b3bccc;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 16px;
}

.news article {
  background-color: #c9d3e6;
  width: 90%;
  display: flex;
  margin-top: 16px;
  min-height: 100px;
  border-radius: 10px;
}

.news article p {
  margin-top: 16px;
  margin-left: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
}

.news .newsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  text-align: left;
}

.news button {
  width: 200px;
  height: 60px;
  background-color: #c9d3e6;
  color: #1758d0;
  border-radius: 10px;
  margin-top: 16px;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 16px;
}

.news button:hover {
  background-color: #b3bccc;
}

.reservations {
  margin-top: 16px;
  background-color: #eaeef4;
  width: calc(90% - 16px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.reservations .reserveRow {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}

.reservations .reserveRow img {
  height: 40px;
}

.reservations .reserveRow a {
  color: #000;
  margin-left: 8px;
}

.reservations button {
  width: 200px;
  height: 60px;
  background-color: #c9d3e6;
  color: #1758d0;
  border-radius: 10px;
  margin-top: 16px;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
}

.reservations button:hover {
  background-color: #b3bccc;
}

.reservations .reservationsImage {
  display: none;
}

footer {
  margin-top: 16px;
  background-color: #040f39;
  color: #fff;
  padding: 16px;
}

footer .linkSection {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  text-align: center;
}

footer .linkSection a {
  color: #fff;
}

footer .socialSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

footer .socialSection img {
  height: 40px;
}

#mobileMenu {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 8px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mobileMenu .mobileSearch {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

#mobileMenu .mobileSearch input {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #e3e3e3;
  -webkit-appearance: none;
  margin-right: 6px;
}

#mobileMenu .mobileSearch input:active {
  border: 1px solid #e3e3e3;
}

#mobileMenu .mobileSearch input:focus-visible {
  outline: none;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 0 4px #1758d082;
}

#mobileMenu .mobileSearch button {
  background-color: #c9d3e6;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

#mobileMenu .mobileSearch button:hover {
  background-color: #b3bccc;
}

#mobileMenu .mobileSearch button img {
  height: 20px;
}

.divider {
  width: 90%;
  border-bottom: 1px solid #e3e3e3;
}

#mobileMenu a {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #1758d0;
}

.largeNav {
  display: none;
}

@media (min-width: 950px) {
  header {
    height: 100px;
    flex-wrap: wrap;
    text-align: center;
  }

  header h2 {
    width: 100%;
  }

  header nav {
    width: 100%;
    height: auto;
  }

  header nav button {
    display: none;
  }

  .largeNav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1100px;
  }

  .largeNav a {
    color: #fff;
    text-decoration: none;
  }

  main .hero {
    height: calc(100vh - 100px);
  }

  footer .footerContent {
    display: flex;
    justify-content: space-between;
  }

  .aboutUs {
    margin-top: 32px;
    display: flex;
    width: 95%;
    padding-top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .aboutUs .contentBox {
    width: 50%;
  }

  .aboutUs .contentBox .headlineBox {
    margin-top: 16px;
  }

  .aboutUs img {
    height: 100%;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .services {
    margin-top: 32px;
    display: flex;
    width: 95%;
    padding-top: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 32px;
    display: flex;
    width: 95%;
    padding-top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-bottom: 32px;
  }

  .services .contentBox {
    width: 50%;
    order: 2;
  }

  .services .contentBox .headlineBox {
    margin-top: 16px;
  }

  .services img {
    order: 1;
    height: 100%;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .reservations {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .reservations .contentBox {
    width: 65%;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .reservations .reservationsImage {
    width: 35%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
  }

  .newsPaperIcon {
    width: 60px;
    height: 60px;
    background-color: #b3bccc;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .news article {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: unset;
    border-radius: 10px;
  }

  .news article p {
    padding: 0;
    margin-top: 0;
  }
}
